/* ------------------------------------------------------------------------ */
/* Copyright © Siemens AG 2021-2021. All rights reserved. Confidential.     */
/* ------------------------------------------------------------------------ */
@import 'variables';
//  .caret-click {
//      cursor: pointer;

//      .caret {
//          padding-right: 0.5rem;
//         color:$color-interaction-blue;
//         font-size: 12px;
//         margin-right: 1%;
//       }
// }

.folder {
    padding: 0.5rem;
    img{
        width: 14px;
        vertical-align: middle;
    }

    // .folder-icon{
    //     color: #647887;//#99a4ac;
    //     margin-right: 1%;
    //   }
}

//This style defines the Automation component Icon to be displayed in the UI
.device-name {
    &::before {
        content: url("/../../../assets/icons/PlantObjects_16er.svg");
        vertical-align: sub;
        padding-left: 10px;
      }
}
