/* ------------------------------------------------------------------------ */
/* Copyright © Siemens AG 2021-2021. All rights reserved. Confidential.     */
/* ------------------------------------------------------------------------ */
@import 'variables';

$color-font-color: #2c7873;

%error-shared {
    color: $color-fault;
    font-size: 1.6rem;
}

.error-container {
    border: 1px solid  #788791;
    max-height: 350px;
    overflow-y: auto;
    //box-shadow: 0px -6px 8px -1px #ebf0f5;
    box-shadow:1px -9px 22px -2px #ebf0f5;;
}

.error-list {
    // list-style:none;
    border-collapse: collapse;
    width: 100%;
    font-size: 1.2rem;

    &-icon {
        @extend %error-shared;
        font-size: 1rem;
        margin-right: 5px;
    }

    .error-coloumn {
        position:relative;
        display:flex;
        flex-direction: row;
    }

    .empty-records{
        height:37px;
    }

    th
    {
        padding: 0px 12px 0px 12px;
        text-align: left;
        border-bottom: 1px solid #ddd;

        &:nth-child(1) {
            width: 400px;
        }

        &:last-child{
            width: 145px;
        }
    } 

    td {
        padding: 7px;
        text-align: left;
        border-bottom: 1px solid #ddd;

        &:nth-child(1) {
            width: 400px;
        }
           
    }

    tr {
        min-height: 45.6px;
        &:not(:last-child) {
            border-bottom: none;
        }

        th {
            background-color: $color-colarea1-gray;
            text-align: justify;
            height: 2.3rem;
            position: sticky;
            top: 0;
            z-index: 10;
        }

        .error-code {
            color: $color-fault;
        }

        .error-type {
            font-family: monospace;
            color: $color-light-black;
        }


        .showmore-icon{
            position:absolute;
            bottom:0px;
            cursor:pointer;
        }

        .error-detail {
            // cursor: pointer;
            font-family: monospace;
            word-spacing: -0.2em;
            word-break: break-all;

            &:hover {
                background-color: $color-colarea6;
            }
        }

        .container {
            line-height: 16px;
            height: 32px;
            overflow: hidden;
            width:92%;
          }

          .show {
            overflow: visible;
            height: auto;
            width:92%;
          }

        .error-date{
            font-family: monospace;
            word-spacing: -0.2em;

            &:hover {
                background-color: #f5f5f5;
            }
        }

        .message-read{
           font-weight:normal;
        }

        .message-unread{
            font-weight:bold;
        }
    }

    tfoot tr td{       
        text-align:right; 
        &:nth-child(1) {
            width: 260px;
        }       
    }

    .errorfooter{
        position: sticky;
        background-color: #ebf0f5;
        height: 4.5rem;
        bottom:2px;
    
        .p-button {
            vertical-align: middle;
            background: #fff;
            margin-right: 0.25rem;
            margin-left: 0.25rem;
            color: #3296b9;
            border: 1px solid #3296b9;

            &:hover {
                background: $color-interaction-hover2;
                color: #3296b9;
              }
        }

        
    }


}

.clearAllIcon {
    &::before {
      content: url("/../../../assets/icons/DeleteProject_16er.svg");
    }
  }
  
  .markAllIcon {
    &::before {
      content: url("/../../../assets/icons/Visible_16er.svg");
      filter: invert(70%) sepia(90%) saturate(528%) hue-rotate(151deg) brightness(92%) contrast(76%);
    }
  }


body .p-overlaypanel .p-overlaypanel-close {
    background-color: $color-interaction-blue;

    &:hover {
        background-color: $color-interaction-blue-hover;
    }
}

body .p-overlaypanel .p-overlaypanel-content {
    padding: 0;
}
