
    .device__details__panel {
        padding: 10px;
    
        .device__details__card {
            display:grid;
           // overflow: scroll;
            height: auto;
            width: 470px;
        }
    }