/* ------------------------------------------------------------------------ */
/* Copyright © Siemens AG 2021-2021. All rights reserved. Confidential.     */
/* ------------------------------------------------------------------------ */
.left-sidebar{
    background-color: #fff;
    height:100%;
    .col-2 {
    height:inherit;
    }
    .p-0{
        height: 100%
    }
  
}