<form [formGroup]="passwordsForm" (ngSubmit)="onSubmit()" >
    <div class="write-password">
        <div class="writeouterdiv">
             <div class="grid">

                <ng-container *ngIf="mode === 'changeWritePassword' || mode === 'changeReadPassword'">
                  <div class="col-5">
                      <label for="oldPassword">{{oldPasswordLabel}}</label>
                    </div>
                    <div class="col-7 textinputwrite pb-3">
                        <input class="textInput form-control"  id="oldPassword"
                        type="{{textType}}" formControlName="oldPassword" name="oldPassword" />
                    </div>
                  </ng-container>

                    <div class="col-5">
                            <label for="password">{{passwordLabel}}</label>
                    </div>
                    <div class="col-7 textinputwrite pb-3">
                        <input class="textInput form-control"  id="password"
                         type="{{textType}}" formControlName="password" name="password" />
                    </div>

                   <div class="col-7 col-offset-5 ">
                    <span class="tick-size">
                      <em
                       [ngClass]="minimumCharacterCheck()?
                       'tick-success fas fa-check-circle':'tick-default far fa-times-circle'">
                      </em>
                      &nbsp;&nbsp;{{'setting.securitySetting.passwordValidation.minimumCharacter' | translate}}
                    </span>
                  </div>

                  <div class="col-7 col-offset-5 ">
                    <span class="tick-size">
                      <em
                       [ngClass]="upperCaseCheck()?
                       'tick-success fas fa-check-circle':'tick-default far fa-times-circle'">
                      </em>
                      &nbsp;&nbsp;{{'setting.securitySetting.passwordValidation.upperCase' | translate}}
                   </span>
                  </div>

                  <div class="col-7 col-offset-5 ">
                    <span class="tick-size">
                      <em
                       [ngClass]="lowerCaseCheck()?
                       'tick-success fas fa-check-circle':'tick-default far fa-times-circle'">
                      </em>
                      &nbsp;&nbsp;{{'setting.securitySetting.passwordValidation.lowerCase' | translate}}
                   </span>
                  </div>

                  <div class="col-7 col-offset-5 ">
                    <span class="tick-size">
                      <em
                       [ngClass]="specialCharacterRegexCheck()?
                       'tick-success fas fa-check-circle':'tick-default far fa-times-circle'">
                      </em>
                      &nbsp;&nbsp;{{'setting.securitySetting.passwordValidation.specialCase' | translate}}
                   </span>
                  </div>

                  <div class="col-7 col-offset-5 pb-5">
                    <span class="tick-size">
                      <em
                       [ngClass]="passwordsMatchCheck()?
                       'tick-success fas fa-check-circle':'tick-default far fa-times-circle'">
                      </em>
                      &nbsp;&nbsp;{{'setting.securitySetting.passwordValidation.passwordMatch' | translate}}
                   </span>
                  </div>

                    <div class="col-5">
                        <label for="confirmPassword">{{confirmPasswordLabel}}</label>
                    </div>
                    <div class="col-7 textinputwrite pb-3">
                        <input class="textInput form-control" formControlName="confirmPassword"
                        id="confirmPassword" type="{{textType}}" name="confirmPassword" />
                    </div>

                    <div class="col-7 col-offset-5">
                         <input type="checkbox" 
                         aria-label="showPassword" 
                         formControlName="showPassword" 
                         class="showPassword" id="showPassword"
                          name="showPassword" />&nbsp;&nbsp;
                         <label >{{'common.titles.showPassword' | translate}}</label>
                     </div>

                     <div *ngIf="passwordValidationError != ''" class="col-7 col-offset-5">
                          <span class="errorSpan">
                            <i class="fas fa-times-circle" aria-hidden="true"></i>
                            {{passwordValidationError}}
                          </span>
                    </div>

             </div>
        </div>

           <app-settings-popup-footer *ngIf="!isFromProtectProject" [passwordForminvalid]="passwordsForm.invalid"
            [passwordsIdentity]="checkPasswordsIdentity" (closePopup)="close()" [mode]="mode">
           </app-settings-popup-footer>

    </div>
</form>

