@import "variables";
@import "../../../../styles/partials/ptab.scss";



.write-password{

 @include p-tab;   

 .writeouterdiv {

    text-align: left;
    padding: 2rem  1.5rem 2.5rem 1rem;

     label{
         font-weight: normal;
         font-size: 12px;
     }

     .errorSpan{
        font-weight: normal;
        font-size:1.4rem;
        color:$color-fault;
      }

     input
     {
         &.ng-invalid
         {
             background-color:#FF6A55;
             color: $color-colarea7;
             border-color: $color-cell-error;
         }
     }

     .textinputwrite{
        margin-top:-5px;
    }

    .tick-size{
        font-size:1.25rem;
    }

    .tick-success{
        filter: invert(64%) sepia(100%) saturate(373%) hue-rotate(48deg) brightness(88%) contrast(92%);
    }

    .tick-default{
        filter: invert(49%) sepia(21%) saturate(5586%) hue-rotate(332deg) brightness(117%) contrast(101%);
    }

    .inputendwrite{
        padding-bottom:10px;
    }

    .confirminputendwrite{
        padding-bottom:20px;
    }

    .showpassword{
        margin-right:4px;
    }


     .textInput
    {
        border: $color-interaction-blue 1.5px solid;
        border-radius: 2px;
        outline: none;
        height:25px;

        &:disabled
        {
            background-color: $color-colarea5;
            border-color: $color-col-accent1b;
        }
    }

 } 

}