/* ------------------------------------------------------------------------ */
/* Copyright © Siemens AG 2021-2021. All rights reserved. Confidential.     */
/* ------------------------------------------------------------------------ */
@import "variables";
$table-box-color: #cde6f769;
$table-grid-color: #a9b3b9ce;

.device-grid-body {

    //Styling for the grid where the device data will be displayed (Address, Name, Vendor)
    .grid-container-device {
        display: grid;
        grid-template-rows: 25px;
        grid-template-columns: 7.14% 85.72% 7.14%;
        background-color: white;
    }

    //Styling for the device description
    .device-description {
        padding-bottom: 10px;
    }

    .grid-item-device {
        border-bottom: 2px solid rgb(228, 228, 235);
        //padding-bottom: 20px;
        align-items: center;
        align-content: center;
        padding-top: 8px;
        font-size: 11px;
    }

    .grid-item-device-icon {
        border-bottom: 2px solid rgb(228, 228, 235);
        border-left: 2px solid rgb(228, 228, 235);
        padding-left: 5px;
        padding-top: 7px;
        font-size: 12px;
    }
    .grid-item-device-delete {
        border-bottom: 2px solid rgb(228, 228, 235);
        border-right: 2px solid rgb(228, 228, 235);
        padding-left: 5px;
        padding-top: 8px;
        font-size: 11px;
    }
    .grid-item-device-delete:hover {
        cursor: pointer;
    }
}

.device-grid-header {
    background-color: #e8f1f1;
    width: 100%;
    border: 2px solid rgb(228, 228, 235);
    height: 25px;
    padding-top: 5px;
    padding-left: 30px;
    font-weight: bold;
}

.device-grid-circle{
    color:$color-success;
}
.device-grid-delete-icon{
    color:$color-trash;
}

.hide-grid {
    visibility: hidden;
}

.button-next{
    border: #2782a1;
    background-color: #2782a1;
    width: fit-content;
    height: 30px;
    text-align: center;
    // padding-top: 7px;
    color: white;
    border-radius: 2.5px;
    float: right;
    margin: 5px;
    cursor: pointer;
    padding : 0px 5px;
}
// .button-next:hover{
    
// }
.button-next:disabled{
    background-color: #a6aeb1;
}


